{% extends 'home/base.html' %}

{% block content %}
<div class="container mx-auto col-md-6" style="margin-top: 10%">
   <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Congrats {{form.location_input}}</h4>
  <p>Your OTP has been successfully validated.</p>
  <hr>
  <p class="mb-0">A confirmation message with booking ID is on the way!</p>
     <p class="mb-0">Kindly show it at the restaurant.</p>
  <h4 class="alert-heading">Please visit again :)</h4>
</div>
  <form action='entered_location' method='post'>
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}